*~
*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa

lib/config.h
lib/slap_S.mli
lib/slap_S.ml
lib/slap_D.mli
lib/slap_D.ml
lib/slap_C.mli
lib/slap_C.ml
lib/slap_Z.mli
lib/slap_Z.ml
lib/slap_version.ml
ppx/compat.ml
_build/
/setup.data
/setup.log
*.docdir
*.byte
*.native
